<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient filter CSS</title>
</head>
<body>
    <h1>Gradient filter CSS</h1>
    <pre>
background: linear-gradient (angle,
                            start_color start_point,
                            end_color end_point),
            url('background.jpg');
        )
    </pre>
    <br />
    <pre>
background: linear-gradient (135deg,
                            yellow 0%,
                            green 50%),
            url('background.jpg');
        )
    </pre>
</body>
</html>